In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDRegressor

In [2]:
absence=['na','-','I']
bokhol=pd.read_excel('basedonnees.xlsx',na_values=absence,parse_dates=True,index_col=[0])

In [3]:
bokhol.head()

,W2- Irradiance (W/m²),W3 - Irradiance (W/m²),W4 - Irradiance (W/m²),Temperature ambiante (°C),Vitesse du vent (m/s),Température module (°C),Production Centrale Meter 1 - (W)
Date (+00:00),,,,,,,
2021-01-01 00:05:00,0.0,0.0,0.0,21.9667,1.7416,25.9,0.0
2021-01-01 00:10:00,0.0,0.0,0.0,21.9667,1.7416,25.9,0.0
2021-01-01 00:15:00,0.0,0.0,0.0,21.9667,1.7416,25.9,0.0
2021-01-01 00:20:00,0.0,0.0,0.0,21.9667,1.7416,25.9,0.0
2021-01-01 00:25:00,0.0,0.0,0.0,21.9667,1.7416,25.9,0.0

In [4]:
bokhol.shape

(105119, 7)

In [5]:
bokhol.isnull().sum()

W2- Irradiance (W/m²)                 50
W3 - Irradiance (W/m²)                59
W4 - Irradiance (W/m²)                57
 Temperature ambiante (°C)            45
 Vitesse du vent (m/s)                42
Température module (°C)              247
Production Centrale Meter 1 - (W)    617
dtype: int64

In [6]:
bokhol=bokhol.dropna(axis=0)

In [7]:
bokhol.var(axis=0)

W2- Irradiance (W/m²)                1.206854e+05
W3 - Irradiance (W/m²)               1.164649e+05
W4 - Irradiance (W/m²)               1.205873e+05
 Temperature ambiante (°C)           2.666369e+01
 Vitesse du vent (m/s)               2.157260e+00
Température module (°C)              4.161356e+01
Production Centrale Meter 1 - (W)    3.640470e+13
dtype: float64

In [8]:
bokhol.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 104238 entries, 2021-01-01 00:05:00 to 2021-12-31 21:00:00
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   W2- Irradiance (W/m²)              104238 non-null  float64
 1   W3 - Irradiance (W/m²)             104238 non-null  float64
 2   W4 - Irradiance (W/m²)             104238 non-null  float64
 3    Temperature ambiante (°C)         104238 non-null  float64
 4    Vitesse du vent (m/s)             104238 non-null  float64
 5   Température module (°C)            104238 non-null  float64
 6   Production Centrale Meter 1 - (W)  104238 non-null  float64
dtypes: float64(7)
memory usage: 6.4 MB

selection de la base de donnees en features et en target

In [9]:
X=bokhol.drop(['W3 - Irradiance (W/m²)','W4 - Irradiance (W/m²)','Production Centrale Meter 1 - (W)'],axis=1)
X

,W2- Irradiance (W/m²),Temperature ambiante (°C),Vitesse du vent (m/s),Température module (°C)
Date (+00:00),,,,
2021-01-01 00:05:00,0.0,21.9667,1.7416,25.9
2021-01-01 00:10:00,0.0,21.9667,1.7416,25.9
2021-01-01 00:15:00,0.0,21.9667,1.7416,25.9
2021-01-01 00:20:00,0.0,21.9667,1.7416,25.9
2021-01-01 00:25:00,0.0,21.9667,1.7416,25.9
...,...,...,...,...
2021-12-31 20:40:00,0.0,26.3400,1.7467,26.8
2021-12-31 20:45:00,0.0,26.0600,1.3683,26.6
2021-12-31 20:50:00,0.0,25.7000,1.2560,26.3
2021-12-31 20:55:00,0.0,25.7400,1.4380,26.2
2021-12-31 21:00:00,0.0,25.8500,1.7000,26.2

In [10]:
y=pd.DataFrame(bokhol['Production Centrale Meter 1 - (W)'])
y

                     Production Centrale Meter 1 - (W)
Date (+00:00)
2021-01-01 00:05:00                                0.0
2021-01-01 00:10:00                                0.0
2021-01-01 00:15:00                                0.0
2021-01-01 00:20:00                                0.0
2021-01-01 00:25:00                                0.0
...                                                ...
2021-12-31 20:40:00                                0.0
2021-12-31 20:45:00                                0.0
2021-12-31 20:50:00                                0.0
2021-12-31 20:55:00                                0.0
2021-12-31 21:00:00                                0.0

[104238 rows x 1 columns]

SELECTION DES VARIABLES PERTINANTES POUR NOTRE MODELE
1. VarianceTreshold : il selectionne les variables selon leurs variances qui elimine les variables dont leurs variance est
inferieurs a un seuil fixer

In [11]:
from sklearn.feature_selection import VarianceThreshold

selector=VarianceThreshold(threshold=10)
selector.fit_transform(X)
selector.get_support()
np.array(X.columns)[selector.get_support()]

array(['W2- Irradiance (W/m²)', ' Temperature ambiante (°C)',
       'Température module (°C)'], dtype=object)

2. Selectkbest: Test de dependance
il selectionne les K variables X dont le score du test de dependance avec y est le plus eleve
selectKBest(test_dependance,k_valeurs)

In [12]:
from sklearn.feature_selection import SelectKBest,chi2,f_regression,r_regression,mutual_info_regression
import warnings
warnings.filterwarnings('ignore')

# conversion en array les dataframe X et y 
xx=np.array(X.values)
yy=np.array(y.values)
print("dimension features:", xx.shape)
print("dimension targets:", yy.shape)

#  methode de selection de variables 
selector2=SelectKBest(mutual_info_regression,k=3)
ss=selector2.fit_transform(xx,yy)
selector2.get_support()
#np.array(xx.columns)[selector2.get_support()].mean(axis=0)

dimension features: (104238, 4)
dimension targets: (104238, 1)

array([ True,  True, False,  True])

3. SelectFromModel : c'est une etrategie de selection de variables par la quelle le stimateur entainer selectionne les variables
les plus importantes selon le stimateur
NB: il fonctionne que avec les estimateurs qui developpent des fonctions parametres

In [15]:
from sklearn.feature_selection import SelectFromModel

selector_3=SelectFromModel(SGDRegressor(),threshold='mean')
selector_3.fit_transform(X,y)
selector_3.get_support()
np.array(X.columns)[selector_3.get_support()]

array(['W2- Irradiance (W/m²)'], dtype=object)

4. RFE et RFECV:il elimine des variables les moins importantes de facon recursive
RFECV(stimateur,step,min_features_to_select)

In [16]:
from sklearn.feature_selection import RFE,RFECV

selector_4=RFECV(SGDRegressor(),step=1,min_features_to_select=2,cv=5 )
selector_4.fit_transform(X,y)
selector_4.get_support()
np.array(X.columns)[selector_3.get_support()]

array(['W2- Irradiance (W/m²)'], dtype=object)

In [25]:
selector_4.grid_scores_.mean()

-19293324167658.004

selection de model de prediction machine learning